@tailwind base;
@tailwind components;
@tailwind utilities;

.anchor-middle {
  text-anchor: middle;
  user-select: none;
}

.dummy-caret::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 2px;
  height: 1.25em;
  background: #f7da21;
  -webkit-animation: 1000ms blink step-end infinite;
  animation: 1000ms blink step-end infinite;
}

.cell-pulse {
  -webkit-animation: 1000ms pulse step-end infinite;
  animation: 300ms sizePulse;
}

@keyframes sizePulse {
  50% {
    transform: scale(0.8);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
