@tailwind base;
@tailwind components;
@tailwind utilities;

.anchor-middle {
  text-anchor: middle;
  user-select: none;
}

.dummy-caret::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 2px;
  height: 1.25em;
  background: #f7da21;
  -webkit-animation: 1000ms blink step-end infinite;
  animation: 1000ms blink step-end infinite;
}

.cell-pulse {
  -webkit-animation: 300ms pulse step-end infinite;
  animation: 300ms sizePulse;
}

.show-100 {
  animation: 100ms fadeIn ease-in;
}
.show-150 {
  animation: 150ms fadeIn ease-in;
}
.show-200 {
  animation: 200ms fadeIn ease-in;
}
.show-250 {
  animation: 250ms fadeIn ease-in;
}
.show-300 {
  animation: 300ms fadeIn ease-in;
}
.show-350 {
  animation: 400ms fadeIn ease-in;
}
.show-400 {
  animation: 450ms fadeIn ease-in;
}

@keyframes sizePulse {
  50% {
    transform: scale(0.8);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
